@import "tailwindcss/preflight";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Global styles */
body {
  @apply bg-gray-100 text-gray-800;
}

input, textarea {
  @apply border border-gray-300 rounded;
}

button {
  @apply rounded transition;
}
